<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="content">
      <div id="canvas-container">
        <canvas id="canvas" width="500" height="500"></canvas>
      </div>
      <div class="bottom">
        <span>Click anywhere if there is no audio.</span>
        <span id="timer">00:00:00</span>
      </div>
    </div>
  </body>
</html>
